.App {
  text-align: center;
}
html, body {
  background-color: #21C25E;
  height:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.PP-logo {
  height: 80px;
}

.placeHolder{
  margin-top:30px;
  height:630px;
}
.App-header {
  background-color: #38C86E;
  display:flex;
  flex-direction: row;
  height: 80px;
  padding: 20px;
  border-color:rgba(255,255,255,0.1);
  border-bottom-width: 1.5px;
  border-style: solid;
  color: white;
}
.Menu-Button {
  align-items: flex-end;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.First-edit {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
